/* General Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html, */

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Heebo', sans-serif;
    background-color: #072044;
}

a {
    text-decoration: none;
    color: white;
    margin: 0px !important;
}

ul,
nav {
    list-style: none;
}

.container {
    padding: 50px 350px;
}

h1 {
    font-size: 2.2em;
    font-weight: 500;
    line-height: 100%;
}

h2 {
    font-size: 1.2em;
    opacity: .9;
    font-weight: 500;
    /* padding: 20px 0; */
}

h3 {
    font-size: .9em;
    font-weight: 300;
}

h2,
h3,
h4 {
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    opacity: .8;
    /* padding: 15px 0px; */
}

h4 {
    font-size: .8em;
    font-weight: 300;
}

p {
    letter-spacing: 1px;
    font-weight: 300;
    opacity: .8;
    padding: 20px 0px;
    font-size: 14px;
}

/* Theme */

section {
    height: 85vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.heading {
    padding-bottom: 30px;
}

.red {
    color: #f66363;
}

/* FX */

.gradient {
    background-image: radial-gradient(circle at 200% -40%, #4a6ea0, #072044 70%);
    height: 300vh;
    width: 100vw;
    z-index: -99;
    position: absolute;
    opacity: 1;
}

.particles {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 0vh;
    z-index: -9;
    opacity: 1;
    /* position: fixed; */
}

#particle-1 {
    height: 450px;
    width: 450px;
    overflow: visible;
    transform: translateX(90px) translateY(210px) !important;
}

#particle-2 {
    height: 250px;
    width: 250px;
    overflow: visible;
    transform: translateX(-500px) translateY(-10px) !important;
}

#particle-3 {
    height: 300px;
    width: 250px;
    overflow: visible;
    transform: translateX(400px) translateY(-100px) !important;
}

/* Homepage */

.home {
    background-color: #072044;
    color: white;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header .logo {
    width: 120px;
}

.menu ul {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.menu a,
.services a {
    /* color: #ffffffbb; */
    padding: 10px 25px;
    margin: 2px;
    /* font-size: 12px; */
    transition: all .2s;
    display: inline-block;
}

.menu a:hover,
footer a:hover {
    /* background-color: #ffffff2c; */
    /* border-radius: 2px; */
    color: #f66363;
    transform: translate(0, -1px);
}

/* Hero */

.hero h3 {
    padding: 20px 0;
}

#hero-text {
    /* padding: 20px 50px; */
    transform: translateY(-50px);
    /* background-color: #0000001c; */
}

/* Services */

.services ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
}

#service-box a {
    padding: 10px;
    /* border-top: 1px solid rgba(255, 255, 255, 0.363); */
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

#service-box a:hover {
    /* border-top: 1px solid #f66363; */
    border-bottom: 1px solid #f66363;
    color: #f66363;
    /* border: 1px solid #f66363; */
}

.services .active {
    /* border-left: 1px solid rgba(255, 255, 255, 0.363); */
    /* font-weight: bolder; */
    /* background-color: #ff000005; */
    /* border-radius: 2px; */
    /* border-top: 1px solid #f66363; */
    border-bottom: 1px solid #f66363 !important;
    color: #f66363;
}

.text-box {
    padding: 50px;
    background-color: #ffffff0a;
    /* border-radius: 2px; */
}

#btn-learn {
    padding: 0;
    /* border: 1px solid rgba(23, 190, 187, 0.781); */
    /* background-color: #ffffff25; */
    /* border-radius: 20px; */
    /* letter-spacing: 1px; */
    font-weight: 300;
    margin: 0px;
    font-size: 11px;
    font-weight: bolder;
    color: #17BEBB;
    transition: all .2s;
}

.arrow {
    display: none;
    transition: all .2s;
}

#btn-learn:hover {
    color: rgba(23, 190, 187, 0.781);
}

#btn-learn:hover>.arrow {
    display: inherit;
}

/* Anti phishing */

#all {
    display: flex;
    justify-content: space-between;
}

#left {
    width: 60%;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-items:  */
}

.btn-lrg {
    font-size: .7em;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    background-color: #ffffff2c;
    border-radius: 2px;
    transition: all .2s;
    color: #ffffffc9;
}

.btn-lrg:hover,
.post:hover {
    cursor: pointer;
    border-radius: 2px;
    background-color: #ffffff4f;
    transform: translate(0, -3px);
}

/* Latest Posts */

.posts {
    max-height: 80vh;
    justify-content: center;
    flex-direction: column;
}

.post-wrapper {
    margin-top: 70px;
    display: flex;
}

.post {
    margin: 15px;
    padding: 20px;
    width: 170px;
    height: 200px;
    text-align: center;
    background-color: #ffffff2c;
    border-radius: 2px;
    transition: all .2s;
}

/* Partners */

.partners {
    height: 70vh;
    justify-content: center;
    flex-direction: column;
}

#logo-wrapper {
    padding-top: 50px;
    width: 80%;
}

.partners ul,
footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partners img {
    height: 60px;
    opacity: .9;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    opacity: .8;
    min-height: 25vh;
}

footer img {
    width: 100px;
}

footer li {
    font-size: 23px;
    padding: 0 12px;
}

footer a {
    transition: all .2s;
}

hr {
    opacity: .2;
}

h6 {
    /* padding-top: 50px; */
    width: 47%;
    font-weight: 100;
    letter-spacing: .5px;
    opacity: .8;
}

#link-wrapper {
    align-items: center;
}

#link-wrapper,
#footer-text {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

/* Pallete */

.colours {
    color: #55a0eb;
    color: #072044;
    color: #f66363;
    color: #17BEBB;
}