/* General Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Heebo', sans-serif;
    /* background-color: #072044; */
}

#body-wrapper {
    position: absolute;
    overflow: hidden !important;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
    margin: 0px !important;
}

ul,
nav {
    list-style: none;
}

h1 {
    font-size: 2.2em;
    font-weight: 500;
    line-height: 100%;
}

h2 {
    font-size: 1.2em;
    opacity: .9;
    font-weight: 500;
}

h3 {
    font-size: 1em;
    font-weight: 300;
}

h2,
h3,
h4 {
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    opacity: .8;
    line-height: 20px;
}

h4 {
    font-size: 14px;
    font-weight: 300;
}

h6 {
    width: 47%;
    font-weight: 100;
    letter-spacing: .5px;
    opacity: .8;
}

p {
    letter-spacing: 1px;
    font-weight: 100;
    opacity: .6;
    padding: 20px 0px;
    font-size: 14.5px;
}

hr {
    opacity: .2;
}

/* Pages */

.page-home {
    background-color: #072044;
    color: white;
}

.page-services {
    background-color: #1c1c1c;
    color: white;
}

.page-anti-phishing {
    /* background-color: #1c1c1c; */
    background-color: #202030;
    /* background-color: #002626; */
    /* background-color: #333333; */
    color: white;
}

/* Theme */

section {
    height: 85vh;
    overflow: hidden;
    display: flex;
    /* width: 100vw; */
    justify-content: center;
    align-items: center;
}

.container-lrg,
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* overflow: hidden; */
    width: 50%;
    max-width: 850px;
}

.container-small {
    padding: 0 70px;
}

.container-lrg {
    width: 60%;
}

.heading {
    padding-bottom: 30px;
}

.red {
    color: #f66363;
}

#active {
    color: #f66363;
    opacity: .9;
    font-weight: bolder;
}

/* Buttons */

.btn {
    text-align: center;
    background-color: #ffffff2c;
    border-radius: 1px;
    transition: all .2s;
    color: #fff;
    opacity: .7;
}

.btn-learn {
    font-weight: 300;
    margin: 0px;
    font-size: 11px;
    font-weight: bolder;
}

.btn:hover,
.post:hover {
    /* cursor: pointer; */
    background-color: #ffffff28;
    transform: translate(0, -3px);
    opacity: 1;
}

.btn-lrg {
    font-size: .9em;
    margin: 10px;
    padding: 20px;
    width: 200px;
}

.btn-small {
    font-size: .7em;
    padding: 10px;
    width: 200px;
    background-color: #ffffff00;
    border: 1px solid rgba(255, 255, 255, 0.308);
}

/* FX */

#gradient-1 {
    background-image: radial-gradient(circle at 200% -40%, #ffffff81, #00000000 65%);
    height: 300vh;
    width: 100vw;
    z-index: -99;
    right: 0;
    position: absolute;
    opacity: 1;
}

.slant {
    position: absolute;
    z-index: -99;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

.slant-1 {
    height: 100vh;
    width: 100vw;
    /* background-color: #00122b2c; */
    /* transform: rotateZ(10deg); */
    border-left: 100vw solid #00000015;
    border-bottom: 100px solid transparent;
}

.slant-1b {
    height: 100vh;
    width: 100vw;
    /* background-color: #00122b2c; */
    /* transform: rotateZ(10deg); */
    border-right: 100vw solid #00000025;
    border-bottom: 100px solid transparent;
}

.slant-1c {
    height: 90vh;
    width: 100vw;
    /* background-color: #00122b2c; */
    /* transform: rotateZ(10deg); */
    border-right: 100vw solid #0000001f;
    border-bottom: 100px solid transparent;
}

.slant-2 {
    height: 100vh;
    border-left: 100vw solid #00122b48;
    border-top: 100px solid transparent;
    /* transform: translateY(-50px); */
}

.slant-2b {
    height: 180vh;
    border-right: 100vw solid #00000031;
    border-top: 200px solid transparent;
    /* transform: translateY(-50px); */
}

.slant-2c {
    height: 185vh;
    border-right: 100vw solid #0000001e;
    border-top: 200px solid transparent;
    transform: translateY(100px);
}

.slant-3 {
    border-left: 50vw solid #00122b3a;
    border-bottom: 3000px solid transparent;
}

.slant-3b {
    border-left: 70vw solid #0000002a;
    border-bottom: 3000px solid transparent;
}

.slant-3c {
    border-left: 70vw solid #00000023;
    border-bottom: 3000px solid transparent;
}

.particles {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 0vh;
    z-index: -9;
    opacity: 1;
    overflow: hidden;
}

#particle-1 {
    position: absolute;
    /* left: 50%; */
    height: 450px;
    width: 400px;
    transform: translateX(-200px) translateY(-300px) !important;
}

#particle-1-services {
    position: absolute;
    left: 25%;
    height: 400px;
    width: 350px;
    transform: translateY(230px) !important;
}

#particle-2 {
    position: absolute;
    left: 40px;
    height: 250px;
    width: 300px;
    overflow: visible;
    transform: translateY(-90px) !important;
}

#particle-3 {
    position: absolute;
    right: 40px;
    height: 250px;
    width: 250px;
    overflow: hidden;
    transform: translateY(-150px) !important;
}

.vignette {
    background-image: radial-gradient(circle, #ffffff3b, #ffffff00 50%);
    position: absolute;
    opacity: .15;
    overflow: hidden;
}

#vignette-1 {
    height: 1000px;
    width: 1000px;
    /* transform: translateX(300px) !important; */
    left: 20%;
    z-index: -9;
}

#vignette-2 {
    height: 850px;
    width: 850px;
    transform: translateX(-200px) translateY(-400px) !important;
    z-index: -9;
}

#vignette-3 {
    height: 750px;
    width: 750px;
    right: 0px;
    transform: translateX(200px) translateY(-400px) !important;
    z-index: -9;
}

/* Header */

header {
    padding-top: 40px;
    z-index: 99;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
}

header .container {
    flex-direction: column;
    z-index: 1;
}

header .logo {
    width: 120px;
}

nav a {
    color: white;
    opacity: 1;
}

nav ul {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

nav a,
.services a,
.nav-bottom a {
    padding: 10px 25px;
    margin: 2px;
    transition: all .2s;
    display: inline-block;
}

nav a:hover,
.nav-bottom a:hover {
    opacity: .6;
    transform: translate(0, -1px);
}

.nav-top {
    display: flex;
    justify-content: space-between;
}

.nav-bottom {
    z-index: 1;
}

.nav-bottom ul {
    display: none;
    width: 130px;
    position: absolute;
    flex-direction: column;
    text-align: center;
    transform: translateX(-5px);
    background-color: #ffffff11;
    border-radius: 10px;
    transition: all .2s;
}

#contact:hover .nav-bottom ul {
    display: block;
}

/* .nav-bottom li {
    padding-bottom: 5px;
    transition: all .2s;
} */

footer a:hover {
    opacity: .6;
}

/* Hero */

.hero {
    transform: translateY(20px);
}

.hero-2 {
    text-align: right;
}

.hero h3,
.hero-2 h3 {
    padding: 20px 0;
    opacity: .6;
    font-size: 14.5px;
    letter-spacing: 3.5px;
}

/* Services */

.services {
    height: 80vh;
}

.services ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    font-size: 1.1em;
}

.services p {
    padding-bottom: 30px;
}

#service-box a {
    width: 100%;
    padding: 20px 10px;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.192);
    opacity: 1;
}

#service-box a:hover {
    border-bottom: 1px solid #f66363;
    opacity: .9;
    color: #f66363;
}

.services .active {
    border-bottom: 1px solid #f66363 !important;
    color: #f66363;
    opacity: 1 !important;
}

.text-box {
    padding: 25px 50px;
    background-color: #ffffff07;
    background-image: linear-gradient(#00000000, #ffffff15);
}

.arrow {
    display: none;
    transition: all .2s;
}

.service-item-wrapper {
    height: 80vh;
}

.service-header {
    transform: translateY(6px);
}

.service-item {
    display: flex;
    flex-direction: row;
}

.service-item h1 {
    width: 200px;
}

.service-header {
    padding-right: 50px;
    width: 400px !important;
    text-align: right;
}

.service-item .light-text {
    font-weight: 100;
    padding-bottom: 20px;
}

.cta-wrapper {
    height: 50vh;
}

.cta {
    display: flex;
    flex-direction: row;
    transform: translateY(-100%);
}

.cta form {
    width: 50%;
}

/* Anti phishing */

.anti {
    height: 80vh;
}

#all {
    display: flex;
    justify-content: space-between;
}

#left {
    width: 60%;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-items:  */
}

.ant-item-wrapper {
    height: 200vh !important;
}

/* Latest Posts */

.posts {
    height: 80vh;
    text-align: center;
    /* flex-direction: column; */
}

.posts .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-wrapper {
    margin-top: 70px;
    display: flex;
    /* flex-wrap: wrap; */
    width: 130%;
    justify-content: center;
}

.post {
    margin: 12px;
    padding: 15px;
    width: 200px;
    height: 200px;
    text-align: left;
    background-color: #ffffff11;
    /* background-image: url("../img/pattern.png") ; */
    background-image: linear-gradient(#00000000, #ffffff13);
    /* background-repeat: no-repeat; */
    background-size: 100%;
    border-radius: 2px;
    transition: all .2s;
    hyphens: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post h2 {
    /* color: #bdc9da; */
    font-size: 1em;
    /* font-weight: bolder; */
    opacity: .45;
    /* padding-bottom: 10px; */
    transition: all .2s;
}

.post h2:hover {
    opacity: 1;
}

.post h4 {
    font-size: .8em;
    color: #f66363;
    opacity: .9;
}

.post span {
    /* color: #55a0eb; */
    font-weight: bold;
}

/* Partners */

.partners {
    height: 60vh;
    text-align: center;
    transform: translateY(-80px);
}

.partners h3 {
    opacity: .5;
}

#logo-wrapper {
    padding-top: 80px;
    /* width: 80%; */
}

.partners ul,
footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partners img {
    height: 60px;
    opacity: .9;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: .8;
    min-height: 25vh;
    overflow: hidden;
}

footer img {
    width: 100px;
}

footer li {
    font-size: 23px;
    padding: 0 12px;
}

footer a {
    transition: all .2s;
}

#link-wrapper {
    align-items: center;
}

#link-wrapper,
#footer-text {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

/* Pallete */

.colours {
    color: #55a0eb;
    color: #072044;
    color: #f66363;
    color: #17BEBB;
    color: #556984;
}

/* Breakpoints */

@media only screen and (max-width: 767px) {
    /* phones */
    /* general */
    header {
        padding-top: 30px;
    }
    nav {
        display: none;
    }
    section {
        height: 100vh;
        overflow: hidden;
        display: flex;
        /* width: 100vw; */
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: scale(.9);
    }
    .container-lrg,
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* overflow: hidden; */
        width: 85%;
        max-width: 700px;
    }
    .container-small {
        padding: 0;
    }
    p {
        font-size: .85em;
    }
    .btn-lrg {
        font-size: .8em;
        width: 100%;
    }
    .btn-small {
        width: 100%;
    }
    /* particels */
    #particle-1 {
        height: 450px;
        width: 300px;
        transform: translateX(-10px) translateY(-300px) !important;
        opacity: .4;
    }
    #particle-1-services {
        position: absolute;
        left: 25%;
        height: 400px;
        width: 350px;
        transform: translateY(230px) !important;
        opacity: .5;
    }
    #particle-2 {
        position: absolute;
        height: 200px;
        width: 200px;
        transform: translateX(50px) translateY(-100px) !important;
        opacity: .5;
        display: none;
    }
    #particle-3 {
        position: absolute;
        right: 40px;
        height: 200px;
        width: 200px;
        overflow: hidden;
        transform: translateX(-60px) translateY(-150px) !important;
        opacity: .5;
        display: none;
    }
    /* Hero */
    #hero-section {
        height: 90vh;
        text-align: left;
    }
    /* Services */
    .text-box {
        padding: 25px;
    }
    #service-box a {
        font-size: .85em;
    }
    /* Anti-p */
    .anti {
        height: 90vh;
    }
    #all,
    #right {
        flex-direction: column;
        align-items: center;
    }
    #left,
    #right {
        width: 100%;
    }
    /* Post */
    .post-wrapper {
        margin-top: 30px;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .posts {
        min-height: 110vh;
    }
    .post {
        width: 100%;
        height: 150px;
        padding: 20px;
    }
    #last-post {
        display: none;
    }
    /* Partners */
    #logo-wrapper {
        padding-top: 60px;
        /* width: 80%; */
    }
    .partners img {
        height: 40px;
        opacity: .9;
    }
    /* Footer */
    footer img {
        /* width: 8px; */
        padding: 0 12px;
    }
    #logo-footer {
        display: none;
    }
    #link-wrapper {
        padding: 20px 0;
        transform: scale(.85);
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}