/* General Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html, */

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Heebo', sans-serif;
    background-color: #072044;
}

a {
    text-decoration: none;
    color: white;
    margin: 0px !important;
}

ul,
nav {
    list-style: none;
}

h1 {
    font-size: 2.2em;
    font-weight: 500;
    line-height: 100%;
}

h2 {
    font-size: 1.2em;
    opacity: .9;
    font-weight: 500;
    /* padding: 20px 0; */
}

h3 {
    font-size: 1em;
    font-weight: 300;
}

h2,
h3,
h4 {
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    opacity: .8;
    line-height: 20px;
    /* padding: 15px 0px; */
}

h4 {
    font-size: .8em;
    font-weight: 300;
}

p {
    letter-spacing: 1px;
    font-weight: 100;
    opacity: .6;
    padding: 20px 0px;
    font-size: 14.5px;
}

/* Theme */

section {
    height: 85vh;
    overflow: hidden;
    display: flex;
    /* width: 100vw; */
    justify-content: center;
    align-items: center;
}

.container {
    /* padding: 50px 25%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: space-between; */
    width: 50%;
    max-width: 850px;
    /* max-width: 800px; */
}

.heading {
    padding-bottom: 30px;
}

.red {
    color: #f66363;
}

/* FX */

#gradient-1 {
    background-image: radial-gradient(circle at 200% -40%, #2b87d1, #072044 70%);
    height: 300vh;
    width: 100vw;
    z-index: -99;
    right: 0;
    position: absolute;
    opacity: .9;
}

.slant {
    position: absolute;
    z-index: -1;
    width: 100vw;
}

#slant-1 {
    height: 107vh;
    border-left: 100vw solid #00122b2c;
    border-bottom: 100px solid transparent;
}

#slant-3 {
    height: 10vh;
    border-left: 50vw solid #00122b15;
    border-bottom: 3000px solid transparent;
    overflow: hidden;
}

#slant-2 {
    display: table-row;
    vertical-align: bottom;
    border-collapse: collapse;
    height: 111vh;
    border-left: 100vw solid #00122b48;
    border-top: 100px solid transparent;
    transform: translateY(-50px);
}

.particles {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 0vh;
    z-index: -9;
    opacity: 1;
}

#particle-1 {
    position: absolute;
    left: 45%;
    height: 450px;
    width: 500px;
    transform: translateY(230px) !important;
}

#particle-2 {
    position: absolute;
    left: 40px;
    height: 250px;
    width: 300px;
    overflow: visible;
    transform: translateY(-90px) !important;
}

#particle-3 {
    position: absolute;
    right: 40px;
    height: 250px;
    width: 250px;
    overflow: hidden;
    transform: translateY(-150px) !important;
}

.vignette {
    /* background-image: radial-gradient(circle, #81dbff1a, #05173100 150%); */
    background-image: radial-gradient(circle, #ffffff3b, #ffffff00 60%);
    position: absolute;
    opacity: .09;
}

#vignette-1 {
    height: 950px;
    width: 950px;
    left: 30%;
    z-index: -9;
}

#vignette-2 {
    height: 850px;
    width: 850px;
    left: -200px;
    transform: translateY(-400px) !important;
    z-index: -9;
}

#vignette-3 {
    height: 750px;
    width: 750px;
    right: -220px;
    transform: translateY(-400px) !important;
    z-index: -9;
}

/* Homepage */

.home {
    background-color: #072044;
    color: white;
}

/* Header */

header {
    padding-top: 40px;
    z-index: 99;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

header .container {
    flex-direction: row;
    justify-content: space-between;
    /* position: fixed; */
    z-index: 1;
    /* padding: 30px 350px; */
    /* background-color: #072044; */
    /* border-bottom: .2px solid #556984; */
    /* background: linear-gradient(to bottom, rgb(7, 32, 68) 0%, rgba(125, 185, 232, 0) 90%); */
}

header .logo {
    width: 120px;
}

.menu ul {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.menu a,
.services a {
    /* color: #ffffffbb; */
    padding: 10px 25px;
    margin: 2px;
    /* font-size: 12px; */
    transition: all .2s;
    display: inline-block;
}

.menu a:hover {
    opacity: .6;
    transform: translate(0, -1px);
}

footer a:hover {
    /* transform: translate(0, -1px); */
    opacity: .6;
}

/* Hero */

.hero h3 {
    padding: 20px 0;
    opacity: .6;
    font-size: 14.5px;
    letter-spacing: 3.5px;
}

#hero-text {
    /* padding: 20px 50px; */
    transform: translateY(20px);
    /* background-color: #0000001c; */
}

/* Services */

.services {
    height: 80vh;
}

.services ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    font-size: 1.1em;
}

.services p {
    padding-bottom: 30px;
}

#service-box a {
    width: 100%;
    padding: 20px 10px;
    margin: 0;
    /* border-top: 1px solid rgba(255, 255, 255, 0.363); */
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.192);
    opacity: .8;
}

#service-box a:hover {
    border-bottom: 1px solid #f66363;
    opacity: .9;
    /* border-bottom: 1px solid #f66363; */
    color: #f66363;
}

.services .active {
    /* border-left: 1px solid rgba(255, 255, 255, 0.363); */
    /* font-weight: bolder; */
    /* background-color: #ff000005; */
    /* border-radius: 2px; */
    /* border-top: 1px solid #f66363; */
    border-bottom: 1px solid #f66363 !important;
    color: #f66363;
    opacity: 1 !important;
}

.text-box {
    padding: 25px 50px;
    background-color: #ffffff07;
}

.btn {
    text-align: center;
    background-color: #ffffff2c;
    border-radius: 1px;
    transition: all .2s;
    color: #fff;
    opacity: .7;
}

.btn-learn {
    font-weight: 300;
    margin: 0px;
    font-size: 11px;
    font-weight: bolder;
}

.btn:hover,
.post:hover {
    cursor: pointer;
    background-color: #ffffff31;
    transform: translate(0, -3px);
    opacity: 1;
}

.arrow {
    display: none;
    transition: all .2s;
}

/* Anti phishing */

.ant {
    height: 80vh;
}

#all {
    display: flex;
    justify-content: space-between;
}

#left {
    width: 60%;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-items:  */
}

.btn-lrg {
    font-size: .9em;
    margin: 10px;
    padding: 20px;
    width: 200px;
}

/* Latest Posts */

.posts {
    height: 80vh;
    text-align: center;
    /* flex-direction: column; */
}

.posts .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-wrapper {
    margin-top: 70px;
    display: flex;
}

.post {
    margin: 15px;
    padding: 20px;
    width: 160px;
    height: 160px;
    text-align: center;
    background-color: #ffffff2c;
    border-radius: 2px;
    transition: all .2s;
}

/* Partners */

.partners {
    height: 60vh;
    text-align: center;
    transform: translateY(-80px);
}

.partners h3 {
    opacity: .5;
}

#logo-wrapper {
    padding-top: 80px;
    /* width: 80%; */
}

.partners ul,
footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partners img {
    height: 60px;
    opacity: .9;
}

/* Footer */

footer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    opacity: .8;
    min-height: 25vh;
    overflow: hidden;
}

footer img {
    width: 100px;
}

footer li {
    font-size: 23px;
    padding: 0 12px;
}

footer a {
    transition: all .2s;
}

hr {
    opacity: .2;
}

h6 {
    /* padding-top: 50px; */
    width: 47%;
    font-weight: 100;
    letter-spacing: .5px;
    opacity: .8;
}

#link-wrapper {
    align-items: center;
}

#link-wrapper,
#footer-text {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

/* Pallete */

.colours {
    color: #55a0eb;
    color: #072044;
    color: #f66363;
    color: #17BEBB;
    color: #556984;
}