/* General Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html, */

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Heebo', sans-serif;
    background-color: #072044;
}

a {
    text-decoration: none;
    color: white;
    margin: 0px !important;
}

ul,
nav {
    list-style: none;
}

.container {
    padding: 50px 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: space-between; */
    width: 100%;
    /* max-width: 1100px; */
    /* max-width: 800px; */
}

h1 {
    font-size: 2.2em;
    font-weight: 500;
    line-height: 100%;
}

h2 {
    font-size: 1.2em;
    opacity: .9;
    font-weight: 500;
    /* padding: 20px 0; */
}

h3 {
    font-size: 1em;
    font-weight: 300;
}

h2,
h3,
h4 {
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    opacity: .8;
    /* padding: 15px 0px; */
}

h4 {
    font-size: .8em;
    font-weight: 300;
}

p {
    letter-spacing: 1px;
    font-weight: 100;
    opacity: .6;
    padding: 20px 0px;
    font-size: 14.5px;
}

/* Theme */

section {
    height: 85vh;
    overflow: hidden;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.heading {
    padding-bottom: 30px;
}

.red {
    color: #f66363;
}

/* FX */

#gradient-1 {
    background-image: radial-gradient(circle at 200% -40%, #84ceffad, #072044 70%);
    height: 300vh;
    width: 100vw;
    z-index: -99;
    /* float: right; */
    position: absolute;
    opacity: 1;
}

.slant {
    /* background: #00122b1f; */
    position: absolute;
    z-index: -1;
    width: 100vw;
}

#slant-1 {
    height: 107vh;
    border-left: 100vw solid #00122b2c;
    border-bottom: 100px solid transparent;
}

#slant-3 {
    height: 10vh;
    border-left: 50vw solid #00122b15;
    border-bottom: 3000px solid transparent;
    overflow: hidden;
}

#slant-2 {
    /* bottom: 0; */
    display: table-row;
    vertical-align: bottom;
    border-collapse: collapse;
    /* display: table; */
    height: 123vh;
    border-left: 100vw solid #00122b48;
    border-top: 100px solid transparent;
    transform: translateY(-80px);
}

.particles {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 0vh;
    z-index: -9;
    opacity: 1;
    /* position: fixed; */
}

#particle-1 {
    height: 450px;
    width: 450px;
    overflow: visible;
    transform: translateX(120px) translateY(230px) !important;
}

#particle-2 {
    height: 250px;
    width: 300px;
    overflow: visible;
    transform: translateX(-500px) translateY(-100px) !important;
}

#particle-3 {
    height: 300px;
    width: 250px;
    overflow: visible;
    transform: translateX(500px) translateY(-180px) !important;
}

/* Homepage */

.home {
    background-color: #072044;
    color: white;
}

/* Header */

header {
    z-index: 99;
}

header .container {
    flex-direction: row;
    justify-content: space-between;
    /* position: fixed; */
    z-index: 1;
    /* padding: 30px 350px; */
    /* background-color: #072044; */
    /* border-bottom: .2px solid #556984; */
    /* background: linear-gradient(to bottom, rgb(7, 32, 68) 0%, rgba(125, 185, 232, 0) 90%); */
}

header .logo {
    width: 120px;
}

.menu ul {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.menu a,
.services a {
    /* color: #ffffffbb; */
    padding: 10px 25px;
    margin: 2px;
    /* font-size: 12px; */
    transition: all .2s;
    display: inline-block;
}

.menu a:hover {
    /* background-color: #ffffff2c; */
    /* color: #f66363; */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.541); */
    opacity: .6;
    transform: translate(0, -1px);
}

footer a:hover {
    /* transform: translate(0, -1px); */
    opacity: .6;
}

/* Hero */

.hero h3 {
    padding: 20px 0;
    /* opacity: .6; */
}

#hero-text {
    /* padding: 20px 50px; */
    transform: translateY(-50px);
    /* background-color: #0000001c; */
}

/* Services */

.services {
    height: 80vh;
}

.services ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    font-size: 1.1em;
}

.services p {
    padding-bottom: 30px;
}

#service-box a {
    padding: 10px 0;
    /* border-top: 1px solid rgba(255, 255, 255, 0.363); */
    border-bottom: 1px solid rgba(255, 255, 255, 0.192);
    opacity: .8;
}

#service-box a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.897);
    opacity: .9;
    /* border-bottom: 1px solid #f66363; */
    /* color: #f66363; */
}

.services .active {
    /* border-left: 1px solid rgba(255, 255, 255, 0.363); */
    /* font-weight: bolder; */
    /* background-color: #ff000005; */
    /* border-radius: 2px; */
    /* border-top: 1px solid #f66363; */
    border-bottom: 1px solid #f66363 !important;
    color: #f66363;
    opacity: 1 !important;
}

.text-box {
    padding: 25px 50px;
    background-color: #ffffff07;
    /* border-radius: 2px; */
    /* background: rgba(255, 255, 255, 1); */
    /* background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(134, 174, 204, 0) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(134, 174, 204, 0)));
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(134, 174, 204, 0) 100%);
    background: -o-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(134, 174, 204, 0) 100%);
    background: -ms-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(134, 174, 204, 0) 100%); */
    /* background: linear-gradient(45deg, rgba(255, 255, 255, 0.025) 0%, rgba(255, 255, 255, 0.04) 100%); */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#86aecc', GradientType=1); */
}

.btn {
    text-align: center;
    background-color: #ffffff2c;
    border-radius: 1px;
    transition: all .2s;
    color: #fff;
    opacity: .7;
}

.btn-learn {
    /* float: right; */
    /* padding: 10px 10px; */
    /* border-bottom: 1.5px solid rgba(23, 190, 187, 0.781); */
    /* background-color: #556984; */
    /* border-radius: 20px; */
    /* letter-spacing: 1px; */
    font-weight: 300;
    margin: 0px;
    font-size: 11px;
    font-weight: bolder;
    /* color: #17BEBB; */
}

.btn:hover,
.post:hover {
    cursor: pointer;
    /* border-radius: 2px; */
    background-color: #ffffff31;
    transform: translate(0, -3px);
    opacity: 1;
}

.arrow {
    display: none;
    transition: all .2s;
}

/* Anti phishing */

.ant {
    height: 80vh;
}

#all {
    display: flex;
    justify-content: space-between;
}

#left {
    width: 60%;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-items:  */
}

.btn-lrg {
    font-size: .9em;
    margin: 10px;
    padding: 20px;
    width: 200px;
}

/* Latest Posts */

.posts {
    height: 70vh;
    text-align: center;
    flex-direction: column;
}

.post-wrapper {
    margin-top: 70px;
    display: flex;
}

.post {
    margin: 15px;
    padding: 20px;
    width: 170px;
    height: 200px;
    text-align: center;
    background-color: #ffffff2c;
    border-radius: 2px;
    transition: all .2s;
}

/* Partners */

.partners {
    height: 60vh;
    text-align: center;
    transform: translateY(-50px);
}

.partners h3 {
    opacity: .5;
}

#logo-wrapper {
    padding-top: 80px;
    /* width: 80%; */
}

.partners ul,
footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partners img {
    height: 60px;
    opacity: .9;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    opacity: .8;
    min-height: 25vh;
}

footer img {
    width: 100px;
}

footer li {
    font-size: 23px;
    padding: 0 12px;
}

footer a {
    transition: all .2s;
}

hr {
    opacity: .2;
}

h6 {
    /* padding-top: 50px; */
    width: 47%;
    font-weight: 100;
    letter-spacing: .5px;
    opacity: .8;
}

#link-wrapper {
    align-items: center;
}

#link-wrapper,
#footer-text {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

/* Pallete */

.colours {
    color: #55a0eb;
    color: #072044;
    color: #f66363;
    color: #17BEBB;
    color: #556984;
}